@media screen and (max-width: 600px){
    body{grid-template-rows: 1fr 3fr 1fr;
        grid-template-areas: 'header'
    'section'
        'section'
        'section'
    'footer';
    }
    section{
display: grid;
        grid-template-rows:1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
    'two one'
    'three four'
    'fife fife';
    }
}