
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*{
    margin: 0;
}
body{
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
#home{
    background-image: url("img.jpg");

}

header{
    display: flex;
    height: 10vh;
    background-color: white;
}
header div{
    width: 30vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
div p{
    line-height: 30px;
}
nav{
    width: 70vw;

}
nav ul{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;

}
nav ul li a{
    text-decoration: none;
    color: #757373;
    font-size: 20px;
    transition: 1.5s;
}
nav ul li a:hover{
color: darkgreen;
    font-weight: bolder;}
    .active{
        background-color: #627c62;
        color: white;
    }
    .active:hover{
        /*color: white;*/
    }

/*------------HOME---------------*/
/*--------------------Section---------------*/

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    height: 30vh;
}
.home p{
font-size: 20px;
    word-spacing: 5px;
}
.home h1{
    font-size: 100px;
    letter-spacing: 40px;
}
.home button{
    border-radius: 5px;
    transition: 1s;
}
.home button:hover{
    transform: scale(1.1);
    color: darkgreen;
    border: 1px solid darkgreen;

}

/*---------------location___________*/
#location{
    background-image: url("img.jpg");

}
/*-----------------location_section----------------- */
.location{
    display: flex;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    color: white;
    font-size: 40px;
}
.location a img{
    width: 500px;

}
.location a img{
    transition:1.5s;
}
.location a img:hover{
    border: 2px solid darkgreen;
    transform: scale(1.5);

}
/*----------------CONTACT-----------------*/
#contact{
    background-image: url("img.jpg");

}
/*------------contact-section----------*/
.contact{
    display: flex;
flex-direction: column;
    align-items: center;
   margin-top: 20px;
padding:  1vw 25vw;

}
.container-contact{
    display: flex;
    height: 65vh;
    justify-content: center;
}
.photo img{
    height: 100%;
}
.contact p{
    font-size: 18px;
    margin: 5px 10px;
}
.qr-text{
    display: flex;
    flex-direction: column;
    font-weight: 500;
}
.qr-text a{
    text-decoration: none;
    color: black;
}

.qr-text img{
    height: 23vw;
    width: 23vw;

}
.white{
    color: white;
}
/*----------------------service-------------------*/
#service{
    background-color: white;
}
/*----------service_section--------------------*/
.service, .about{
    display: flex;
    justify-content: center;

}
.service_text, .about-text{
    width: 60vw;

}
.service_text p,h2,h3, .about-text p,h2,h3{
    margin: 30px 0;
    text-align: justify;
}
.service_text h2, .about-text h2{
    font-size: 50px;
}
.service_text h3, .about-text h3{
    font-size: 40px;
}
.service_text, .about-text{
    font-size: 20px;
}
.button{
    text-align: center;
    margin: 30px 0;
}
.button button{
width: 70%;
    height: 5vh;
    border-radius: 15px ;
    background-color: red;
    border: none;

}
.button a{
    text-decoration: none;
    color: white;
    font-size: 25px;
}

