*{
    margin: 0;
}
/*header*/
nav>div>img{
    height: 40px;
    width: 40px;
}
.navbar-brand{
    color: darkred !important;
    font-size: 35px !important;
}
.btn-outline-success {
    color: red !important;
    border-color: red !important;
    --bs-btn-hover-bg: red !important;
    --bs-btn-hover-border-color: red !important;
    --bs-btn-active-bg: red !important;
    --bs-btn-active-border-color: red !important;
    --bs-btn-disabled-color: red !important;
    --bs-btn-disabled-border-color: red !important
}
.btn-outline-success:hover{
    color: white !important;
}
.active{
    color: red !important;
}
nav form input{
    border-color: red !important;
}
 .dropdown-menu a:active{
background-color: red ;
 }

 /*home*/

/*slide*/

.carousel-inner{
    width: 100vw;
    height: 85vh;
}
.carousel-inner img{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    object-position: center !important;

}
.carousel-item{
    width: 100%;
    height: 100%;
    object-fit: cover !important;
    object-position: center !important;
}
.home_section{
    display: flex;
    justify-content: space-evenly;
    margin: 40px 0;
    width: 100vw;
}
.home_section>div{
    display: flex;
    width: 28%;
    gap: 10px;
}


/*rose*/

.flowers_section{
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-columns: repeat(3,1fr);
    justify-items: center;
}
.flowers_section div{
    margin: 20px 0;
}
.flowers_section .btn-primary {
    background-color: #934c4c;
    border-color: #934c4c;
}
.flowers_section .btn-primary:hover{
    background-color: red;
    border-color: red !important;
}

footer form button{
    background-color:#934c4c !important;
    border-color: #934c4c !important;
}


/*price*/

.section_price{
    display: flex;
    justify-content: space-evenly;
    align-content: space-evenly;
    margin: 200px 40px;
}
.section_price>div{
    text-align: center;
}
.price_image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 2px solid crimson;

}
.section_price>div a{
text-decoration: none;
    color: red;
}
.section_price h2{
    color: red;
    margin: 20px 0;
}
.price_image img{
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
.info iframe{
    width: 90vw;
    height: 70vh;
}