  .one ul li:nth-child(odd){
    color: deeppink;
  }
  .two ul li:nth-child(even){
      font-size: 22px;
  }
  .three ul li:nth-child(2n+4)::after{
      content: "!!!!!";
  }
  .four ul li:last-child{
      color: #c10ac1;
  }
  .fife ul li::first-letter{
      font-size: 30px;
      color: red;
  }
  li{
      list-style: none;
      line-height: 30px;
  }
li:before{
    content:url("image/kisspng-circle-clip-art-green-circle-5abf5c8dc9c9e4.5800333015224905098265.png");
    width: 100%;
   margin:2px;
}
li image{
    width: 10px;
}
