@media screen and (max-width: 770px){
    header>button{
        width: 143px;
        height: 36px;
        font-size: 14px;
    }
    header>p{
        font-size: 14px;
    }
    h1{
        font-size: 32px;
    }
    li{
        font-size: 18px;
    }
    iframe{margin-top: 24px;
        width: 100%;
        height: 193px;
    }
    body>div>div{
        flex-direction: column;
        height: 100%;
        width: 100%;
        margin: 32px 15px 0 15px;
    }
    section{
        width: 100%;
    }


}